body {
    margin: 0;
    padding: 0;
    background: #153365;
}

.stroke {
    width: 400px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stroke::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #153365;
    animation: animate 5s linear infinite;
    -webkit-animation: animate 5s linear infinite;
}

.stroke::after {
    content: '\f040';
    font-family: fontAwesome;
    position: absolute;
    top: -50px;
    left: 0;
    height: 100%;
    color: #08daff;
    font-size: 50px;
    transform: translateX(-2px);
    animation: animate2 5s linear infinite;
    -webkit-animation: animate2 5s linear infinite;
}

@keyframes animate {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    60% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes animate2 {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
        transform: rotateY(360deg);
    }
    60% {
        left: 100%;
        transform: rotateY(0deg);
        color: rgb(221, 48, 236);
    }
    100% {
        left: 0;
    }
}